<form method="POST" action="scripts/cadastrarvga.php" id="cadastrovga_form">
	
	<label>Bandwidth</label>
	<input type="text" name="bandwidth">
	
	<br><br>

	<label>Bosst Clock</label>
	<input type="type/text" name="boostclock">

	<br><br>

	<label>Brand</label>
	<input type="type/text" name="brand">

	<br><br>

	<label>Bus Width</label>
	<input type="type/text" name="buswidth">
	
	<br><br>

	<label>Driver</label>
	<input type="type/text" name="driver">

	<br><br>

	<label>GPU</label>
	<input type="type/text" name="gpu">

	<br><br>

	<label>GPU Clock</label>
	<input type="type/text" name="gpuclock">
	
	<br><br>

	<label>I/O</label>
	<input type="type/text" name="io">

	<br><br>

	<label>Memory Clock</label>
	<input type="type/text" name="memoryclock">

	<br><br>

	<label>Memory Size</label>
	<input type="type/text" name="memorysize">
	
	<br><br>

	<label>Minimum Power Supply</label>
	<input type="type/text" name="minimumpowersupply">

	<br><br>

	<label>Model</label>
	<input type="type/text" name="model">

	<br><br>

	<label>Recommended Power Supply</label>
	<input type="type/text" name="recommendedpowersupply">
	
	<br><br>

	<label>Realease Date</label>
	<input type="type/text" name="realeasedate">

	<br><br>

	<label>Shaders</label>
	<input type="type/text" name="shaders">

	<br><br>

	<label>Technology</label>
	<input type="type/text" name="technology">

	<br><br>

	<label>Transistors</label>
	<input type="type/text" name="transistors">

	<br><br>

	<label>Website</label>
	<input type="type/text" name="website">

	<br><br>

	<label>Imagem</label>
	<input type="file" name="imagem">

	<br><br>

	<input type="reset" value="limpar">
	<input type="submit" value="Salvar" name="Salvar">

</form>